@import 'styles/vars';

.container--heading {

    background: $primary-dark;
    padding: 0;
    position: relative;
    overflow: hidden;

    .imageContainer {
        .gatsby-image-wrapper {
            max-height: 100%;
        }
    }

    .overlayContainer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 33, 70, 0.8);
        padding: 2rem;

        .overlay {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
        }

    }

    h1, h2 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        text-align: center;
    }

    h1 {
        color: $primary-white;
        font-size: 6rem;
        margin-bottom: 3rem;
        font-family: $font-primary;
        line-height: 100%;
    }

    h2 {
        color: darken($primary-white, 20);
        font-size: 1.6rem;
        font-family: $font-secondary;
    }

}

@media screen and (max-width: 47.999em) {
    .container--heading {
        h1 {
            font-size: 4rem;
        }
        .ctaWrapper {
            text-align: center;
            .button {
                display: block;
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 63.999em) {
    .imageContainer {
        height: 100vh;
        .gatsby-image-wrapper {
            height: 100%;
            min-width: 100%;
        }
    }
}

@media screen and (min-width: 48em) {

    .container--heading {
        .imageContainer {
            height: calc(100vh - 100px);
        }

        .ctaWrapper {
            display: flex;
            justify-content: center;
        }

        .button--cta {
            font-size: 1.8rem;
            padding: 2rem 3rem;
            margin: 4rem 2rem 0 2rem;
        }
    }

}